In [42]:
import pandas as pd

In [43]:
cd = pd.read_csv("../DATA/RAW/SDG 4.csv")
cd.head()

,SNO,Category,States/UTs,Adjusted Net Enrolment Ratio (ANER) in elementary education (class 1-8),Average annual dropout rate at secondary level (class 9-10),Gross Enrolment Ratio (GER) in higher secondary (class 11-12),Percentage of students in grade VIII achieving atleast a minimum proficiency level in terms of nationally defined learning outcomes to be attained by the pupils at the end of the grade,Gross Enrolment Ratio (GER) in higher education (18-23 years),Percentage of persons with disability (15 years and above) who have completed at least secondary education,Gender Parity Index (GPI) for higher education (18-23 years),Percentage of persons (15 years and above) who are literate,"Percentage of schools with access to basic infrastructure (electricity,drinking water)",Percentage of trained teachers at secondary level (class 9-10),Pupil Teacher Ratio (PTR) at secondary level (class 9-10)
0,1.0,State,Andhra Pradesh,87.98,16.37,46.84,80.15,32.4,15.4,0.81,65.6,91.25996133352194,75.17659625788222,16
1,2.0,State,Arunachal Pradesh,80.98,35.98,38.48,59.95,29.7,10.3,0.99,79.9,50.935934616398626,79.03649635036496,14
2,3.0,State,Assam,96.36,31.47,30.94,79.55,18.7,16.8,0.95,84.9,59.513901453470844,29.29460669823652,11
3,4.0,State,Bihar,86.54,28.46,26.39,78.30000000000001,13.6,18.5,0.79,64.7,88.6640156350614,78.44219452465367,58
4,5.0,State,Chhattisgarh,89.25,18.29,52.08,68.9,18.6,17.2,1.06,74.1,90.03802821907098,78.02984528060057,18

In [44]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 14 columns):
 #   Column                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                    --------------  -----
 0   SNO                                                                                                                                                                                       37 non-null     float64
 1   Category                                                                                                                                                                                  37 non-null     object
 2   States/UTs                                                                                                                                                                                41 non-null     object
 3   Adjusted Net Enrolment Ratio (ANER) in elementary education (class 1-8)                                                                                                                   41 non-null     object
 4   Average annual dropout rate at secondary level (class 9-10)                                                                                                                               41 non-null     object
 5   Gross Enrolment Ratio (GER) in higher secondary (class 11-12)                                                                                                                             41 non-null     object
 6   Percentage of students in grade VIII achieving atleast a minimum proficiency level in terms of nationally defined learning outcomes to be attained by the pupils at the end of the grade  41 non-null     object
 7   Gross Enrolment Ratio (GER) in higher education (18-23 years)                                                                                                                             41 non-null     object
 8   Percentage of persons with disability (15 years and above) who have completed at least secondary education                                                                                41 non-null     object
 9   Gender Parity Index (GPI) for higher education (18-23 years)                                                                                                                              41 non-null     object
 10  Percentage of persons (15 years and above) who are literate                                                                                                                               41 non-null     object
 11  Percentage of schools with access to basic infrastructure (electricity,drinking water)                                                                                                    41 non-null     object
 12  Percentage of trained teachers at secondary level (class 9-10)                                                                                                                            41 non-null     object
 13  Pupil Teacher Ratio (PTR) at secondary level (class 9-10)                                                                                                                                 41 non-null     object
dtypes: float64(1), object(13)
memory usage: 4.6+ KB

In [45]:
cd.index
cd.columns

Index(['SNO', 'Category', 'States/UTs',
       'Adjusted Net Enrolment Ratio (ANER) in elementary education (class 1-8)',
       'Average annual dropout rate at secondary level (class 9-10)',
       'Gross Enrolment Ratio (GER) in higher secondary (class 11-12)',
       'Percentage of students in grade VIII achieving atleast a minimum proficiency level in terms of nationally defined learning outcomes to be attained by the pupils at the end of the grade',
       'Gross Enrolment Ratio (GER) in higher education (18-23 years)',
       'Percentage of persons with disability (15 years and above) who have completed at least secondary education',
       'Gender Parity Index (GPI) for higher education (18-23 years)',
       'Percentage of persons (15 years and above) who are literate',
       'Percentage of schools with access to basic infrastructure (electricity,drinking water)',
       'Percentage of trained teachers at secondary level (class 9-10)',
       'Pupil Teacher Ratio (PTR) at secondary level (class 9-10)'],
      dtype='object')

In [46]:
cd[["States/UTs","Percentage of persons (15 years and above) who are literate"]]

,States/UTs,Percentage of persons (15 years and above) who are literate
0,Andhra Pradesh,65.6
1,Arunachal Pradesh,79.9
2,Assam,84.9
3,Bihar,64.7
4,Chhattisgarh,74.1
5,Goa,88.9
6,Gujarat,80.7
7,Haryana,77.3
8,Himachal Pradesh,84.2
9,Jharkhand,67.3
10,Karnataka,75.7
11,Kerala,94.6
12,Madhya Pradesh,70.5
13,Maharashtra,80.3
14,Manipur,85.6
15,Meghalaya,91.4
16,Mizoram,98.5
17,Nagaland,93.8
18,Odisha,72.5
19,Punjab,79.4
20,Rajasthan,67.1
21,Sikkim,86.2
22,Tamil Nadu,80.7
23,Telangana,67.4
24,Tripura,89.9
25,Uttar Pradesh,68.2
26,Uttarakhand,79
27,West Bengal,79
28,Andaman and Nicobar Islands,88.3
29,Chandigarh,89.1
30,Dadra and Nagar Haveli,77.7
31,Daman and Diu,88.3
32,Delhi,86.4
33,Jammu and Kashmir,76.4
34,Ladakh,76.4
35,Lakshadweep,95.7
36,Puducherry,89.5
37,India,74.6
38,Target,100
39,Data Source,PLFS 2018-19
40,Data Period,2018-19

In [47]:
cd = cd.drop(39)
cd.tail()

,SNO,Category,States/UTs,Adjusted Net Enrolment Ratio (ANER) in elementary education (class 1-8),Average annual dropout rate at secondary level (class 9-10),Gross Enrolment Ratio (GER) in higher secondary (class 11-12),Percentage of students in grade VIII achieving atleast a minimum proficiency level in terms of nationally defined learning outcomes to be attained by the pupils at the end of the grade,Gross Enrolment Ratio (GER) in higher education (18-23 years),Percentage of persons with disability (15 years and above) who have completed at least secondary education,Gender Parity Index (GPI) for higher education (18-23 years),Percentage of persons (15 years and above) who are literate,"Percentage of schools with access to basic infrastructure (electricity,drinking water)",Percentage of trained teachers at secondary level (class 9-10),Pupil Teacher Ratio (PTR) at secondary level (class 9-10)
35,36.0,Union Territory,Lakshadweep,75.27,4.56,73.5,65.25,7.4,18,3.4,95.7,100,86.20689655172413,7
36,37.0,Union Territory,Puducherry,84.15,12.73,69.78,61.300000000000004,46.4,28.6,1.24,89.5,99.93234100135318,92.5705794947994,11
37,NaN,NaN,India,87.26,17.87,50.14,71.875,26.3,19.3,1,74.6,84.76441381517233,82.62273457338273,21
38,NaN,NaN,Target,100,8.8,100,100,50,100,1,100,100,100,30
40,NaN,NaN,Data Period,2018-19,2018-19,2018-19,2017-18,2018-19,Jul-Dec 2018,2018-19,2018-19,2018-19,2018-19,2018-19

In [48]:
cd=cd.rename(columns = {'States/UTs': 'State Name','Percentage of persons (15 years and above) who are literate': 'value'})
cd

,SNO,Category,State Name,Adjusted Net Enrolment Ratio (ANER) in elementary education (class 1-8),Average annual dropout rate at secondary level (class 9-10),Gross Enrolment Ratio (GER) in higher secondary (class 11-12),Percentage of students in grade VIII achieving atleast a minimum proficiency level in terms of nationally defined learning outcomes to be attained by the pupils at the end of the grade,Gross Enrolment Ratio (GER) in higher education (18-23 years),Percentage of persons with disability (15 years and above) who have completed at least secondary education,Gender Parity Index (GPI) for higher education (18-23 years),value,"Percentage of schools with access to basic infrastructure (electricity,drinking water)",Percentage of trained teachers at secondary level (class 9-10),Pupil Teacher Ratio (PTR) at secondary level (class 9-10)
0,1.0,State,Andhra Pradesh,87.98,16.37,46.84,80.15,32.4,15.4,0.81,65.6,91.25996133352194,75.17659625788222,16
1,2.0,State,Arunachal Pradesh,80.98,35.98,38.48,59.95,29.7,10.3,0.99,79.9,50.935934616398626,79.03649635036496,14
2,3.0,State,Assam,96.36,31.47,30.94,79.55,18.7,16.8,0.95,84.9,59.513901453470844,29.29460669823652,11
3,4.0,State,Bihar,86.54,28.46,26.39,78.30000000000001,13.6,18.5,0.79,64.7,88.6640156350614,78.44219452465367,58
4,5.0,State,Chhattisgarh,89.25,18.29,52.08,68.9,18.6,17.2,1.06,74.1,90.03802821907098,78.02984528060057,18
5,6.0,State,Goa,88.26,9.4,71.95,71.65,30.1,32.4,1.33,88.9,99.96635262449529,85.69935187121054,11
6,7.0,State,Gujarat,85.38,23.84,41.2,81.05,20.4,22.8,0.85,80.7,99.95236437588171,91.79558965222608,33
7,8.0,State,Haryana,89.31,14.79,56.05,71.6,29.2,25.1,1.23,77.3,98.81660576187643,89.09837023190606,15
8,9.0,State,Himachal Pradesh,97.82,7.81,81.79,72.75,39.6,25.6,1.3,84.2,97.59499231276081,79.55168465248622,9
9,10.0,State,Jharkhand,89.15,22.26,38.89,84,19.1,16.9,0.96,67.3,84.74666724753857,80.12104283054003,51
10,11.0,State,Karnataka,100,23.43,44.4,83.5,28.8,20.9,1.04,75.7,93.79801362596348,92.13478515319117,15
11,12.0,State,Kerala,92.07,9.14,80.26,86.75,37,24.3,1.4,94.6,99.24256032572899,94.52644335342738,16
12,13.0,State,Madhya Pradesh,81.19,24.85,43.73,70.5,21.5,17.2,0.97,70.5,75.34191864089775,81.19037186753543,36
13,14.0,State,Maharashtra,90.92,13.29,68.93,76.3,32,25.7,0.9,80.3,92.73935347728803,93.8247147255932,22
14,15.0,State,Manipur,100,13.03,54.82,72.30000000000001,33.7,28.9,1.01,85.6,68.92031379025599,55.501800180018,10
15,16.0,State,Meghalaya,97.43,19.47,41.64,64.5,25.8,12.3,1.17,91.4,28.38980162246915,43.627351810641315,12
16,17.0,State,Mizoram,90.08,10.64,51.87,68.25,25.7,17.4,0.94,98.5,83.75926399182214,61.32508023842275,10
17,18.0,State,Nagaland,67.38,24.08,33.92,60.95,18.7,11.9,1.11,93.8,63.263081395348834,36.02674307545367,11
18,19.0,State,Odisha,71.57,9.52,65.86,71.85,22.1,13.8,0.82,72.5,68.71079936551362,75.81538051090509,22
19,20.0,State,Punjab,71.5,11.52,68.14,61.55,29.5,23.4,1.35,79.4,99.93365226804484,86.84792742148692,13
20,21.0,State,Rajasthan,83.29,12.69,56.51,88.1,23,14.9,1,67.1,83.23334027291482,92.22949481173764,12
21,22.0,State,Sikkim,72.91,23.67,58.22,64.4,53.9,20.4,1,86.2,99.14728682170542,63.923182441700966,13
22,23.0,State,Tamil Nadu,85.49,13.02,72.32,71.3,49,19.1,0.97,80.7,96.08381796050853,93.3068211290741,18
23,24.0,State,Telangana,93.69,13.47,56.49,69.8,36.2,20.8,1.02,67.4,91.51694014874278,90.95662045889101,11
24,25.0,State,Tripura,100,29.55,38.62,71.3,19.2,13.4,0.83,89.9,57.118301314459046,45.79598804950918,18
25,26.0,State,Uttar Pradesh,84.54,15.51,46.12,67.35,25.8,17.8,1.14,68.2,81.48352151078743,73.85739903958837,34
26,27.0,State,Uttarakhand,96.38,10.95,66.2,74.95,39.1,24.7,1,79,87.72019185873765,89.78249495477988,15
27,28.0,State,West Bengal,93.21,19.49,51.73,70.55,19.3,16.6,0.94,79,92.61714437584331,81.14053709797261,36
28,29.0,Union Territory,Andaman and Nicobar Islands,74.1,22.22,56.44,65.5,23.2,28.5,1.29,88.3,96.01449275362319,85.05477308294209,10
29,30.0,Union Territory,Chandigarh,85.78,4.52,83.43,81.55,50.6,37.4,1.54,89.1,100,89.49313621964097,12
30,31.0,Union Territory,Dadra and Nagar Haveli,88.75,20.52,53.46,79.2,9.3,12.2,1.7,77.7,100,89.34426229508196,28
31,32.0,Union Territory,Daman and Diu,79.13,21.66,33.21,65.5,5.5,37.4,2.34,88.3,100,83.8407494145199,15
32,33.0,Union Territory,Delhi,100,14.93,70.07,67.35,46.3,41,1.16,86.4,100,89.32937546381284,29
33,34.0,Union Territory,Jammu and Kashmir,67.88,17.81,42.31,59.75,30.9,19.7,1.09,76.4,80.13666352497643,80.09377817853922,12
34,35.0,Union Territory,Ladakh,67.88,17.81,42.31,59.75,30.9,19.7,1.09,76.4,80.13666352497643,80.09377817853922,12
35,36.0,Union Territory,Lakshadweep,75.27,4.56,73.5,65.25,7.4,18,3.4,95.7,100,86.20689655172413,7
36,37.0,Union Territory,Puducherry,84.15,12.73,69.78,61.300000000000004,46.4,28.6,1.24,89.5,99.93234100135318,92.5705794947994,11
37,NaN,NaN,India,87.26,17.87,50.14,71.875,26.3,19.3,1,74.6,84.76441381517233,82.62273457338273,21
38,NaN,NaN,Target,100,8.8,100,100,50,100,1,100,100,100,30
40,NaN,NaN,Data Period,2018-19,2018-19,2018-19,2017-18,2018-19,Jul-Dec 2018,2018-19,2018-19,2018-19,2018-19,2018-19

In [49]:
cd=cd.drop(["Percentage of students in grade VIII achieving atleast a minimum proficiency level in terms of nationally defined learning outcomes to be attained by the pupils at the end of the grade",	"Gross Enrolment Ratio (GER) in higher education (18-23 years)",	"Percentage of persons with disability (15 years and above) who have completed at least secondary education",	"Gender Parity Index (GPI) for higher education (18-23 years)",	"Percentage of schools with access to basic infrastructure (electricity,drinking water)",	"Percentage of trained teachers at secondary level (class 9-10)"],axis = 1)
#cd.head()

In [50]:
cd=cd.drop(38)
cd=cd.drop(40)
cd=cd.drop(37)

In [51]:
cd=cd.drop(["SNO","Adjusted Net Enrolment Ratio (ANER) in elementary education (class 1-8)",'Category','Average annual dropout rate at secondary level (class 9-10)','Gross Enrolment Ratio (GER) in higher secondary (class 11-12)','Pupil Teacher Ratio (PTR) at secondary level (class 9-10)'],axis = 1)
cd

                     State Name value
0                Andhra Pradesh  65.6
1             Arunachal Pradesh  79.9
2                         Assam  84.9
3                         Bihar  64.7
4                  Chhattisgarh  74.1
5                           Goa  88.9
6                       Gujarat  80.7
7                       Haryana  77.3
8              Himachal Pradesh  84.2
9                     Jharkhand  67.3
10                    Karnataka  75.7
11                       Kerala  94.6
12               Madhya Pradesh  70.5
13                  Maharashtra  80.3
14                      Manipur  85.6
15                    Meghalaya  91.4
16                      Mizoram  98.5
17                     Nagaland  93.8
18                       Odisha  72.5
19                       Punjab  79.4
20                    Rajasthan  67.1
21                       Sikkim  86.2
22                   Tamil Nadu  80.7
23                    Telangana  67.4
24                      Tripura  89.9
25                Uttar Pradesh  68.2
26                  Uttarakhand    79
27                  West Bengal    79
28  Andaman and Nicobar Islands  88.3
29                   Chandigarh  89.1
30       Dadra and Nagar Haveli  77.7
31                Daman and Diu  88.3
32                        Delhi  86.4
33            Jammu and Kashmir  76.4
34                      Ladakh   76.4
35                  Lakshadweep  95.7
36                   Puducherry  89.5

In [52]:
cd.drop_duplicates(subset='State Name', keep = 'first')
cd

                     State Name value
0                Andhra Pradesh  65.6
1             Arunachal Pradesh  79.9
2                         Assam  84.9
3                         Bihar  64.7
4                  Chhattisgarh  74.1
5                           Goa  88.9
6                       Gujarat  80.7
7                       Haryana  77.3
8              Himachal Pradesh  84.2
9                     Jharkhand  67.3
10                    Karnataka  75.7
11                       Kerala  94.6
12               Madhya Pradesh  70.5
13                  Maharashtra  80.3
14                      Manipur  85.6
15                    Meghalaya  91.4
16                      Mizoram  98.5
17                     Nagaland  93.8
18                       Odisha  72.5
19                       Punjab  79.4
20                    Rajasthan  67.1
21                       Sikkim  86.2
22                   Tamil Nadu  80.7
23                    Telangana  67.4
24                      Tripura  89.9
25                Uttar Pradesh  68.2
26                  Uttarakhand    79
27                  West Bengal    79
28  Andaman and Nicobar Islands  88.3
29                   Chandigarh  89.1
30       Dadra and Nagar Haveli  77.7
31                Daman and Diu  88.3
32                        Delhi  86.4
33            Jammu and Kashmir  76.4
34                      Ladakh   76.4
35                  Lakshadweep  95.7
36                   Puducherry  89.5

In [53]:
cd.to_csv(r"C:\Users\Anish\OneDrive\Desktop\minor\DATA\Clean\clean_SDG4.csv", index=False)